# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
# .artifacts

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go
/vendor

# gomock generated reflect files
gomock_reflect_*/

# Cache
.cache

# other
.DS_Store